html {
}

h1 {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12em;
  text-align: center;
}

h2 {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 8em;
  text-align: center;
}

#condition {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#condition_rain {
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}